*~
bash
builtins/Makefile
config.h
config.log
config.status
core
doc/Makefile
examples/loadables/Makefile
examples/loadables/perl/Makefile
lib/glob/Makefile
lib/intl/Makefile
lib/malloc/Makefile
lib/readline/Makefile
lib/sh/Makefile
lib/termcap/Makefile
lib/tilde/Makefile
Makefile
*.o
pathnames.h
po/Makefile
po/Makefile.in
po/POTFILES
stamp-h
support/Makefile
